@charset "UTF-8";

.list-section {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	margin-top: 10px;
}

.list-box {
	width: 1000px;
}

.search-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1000px;
	height: 50px;
}

.memberCategory div {
	font-family: Paperlogy-8ExtraBold;
	font-size: 1.5rem;
	color: #1D2F6F;
}

.search-bar {
	display: flex;
	align-items: center;
}

.search input {
	width: 280px;
	height: 40px;
	display: flex;
	border: 1px solid #A0ACAD;
	border-radius: 50px
}

.search-bar button {
	padding: 0 10px;
	font-size: 1.5rem;
	color: #1D2F6F;
}

.search-bar button:hover {
	color: #1B9AAA;
	cursor: pointer;
}

.table-box {
	width: 500px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.profile-box {
	display: flex;
	align-items: center;
	margin: 15px 10px;
}

.profile-box img {
	width: 45px;
	height: 45px;
	border-radius: 50px;
}

.nickname {
	margin-left: 10px;
}

.content-box {
	width: 480px;
	margin-top: 10px;
}

.content {
	display: flex;
	justify-content: conter;
	border: 1px solid rgba(0, 0, 0, 0.40);
	border-radius: 5px;
	padding: 10px;
	font-family: none;
	font-size: 0.9rem;
}

.cnt-box {
	display: flex;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 0.95rem
}

.like > button {
	font-family: none;
}

.like i:hover {
	cursor: pointer;
}

.comments {
	margin-left: 10px;
	font-family: none;
}

.views {
	margin-left: 10px;
	font-family: none;
}

.date {
	padding-bottom: 5px;
	font-family: none;
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.50);
	margin-left: 5px;
}

.detail-section {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}

.detail-box {
	width: 1000px;
}

.table-detailbox {
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.profile-detailbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 10px;
}

.profile-detailbox2 {
	display: flex;
	align-items: center;
}

.detail-modify > ul {
	display: inline-block;
}

.detail-modify > ul > li {
	display: inline-block;
}

.detail-modify > ul > li > button {
	font-size: 1.15rem;
	color: #1D2F6F;
}

.detail-modify > ul > li > button > i {
	padding: 5px 6px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.50);
	
}

.detail-modify > ul > li > button:hover > i {
	cursor: pointer;
	color: #DDDBCB;
}

.detail-modify > ul ul {
	position: absolute;
	display: none;
	width: 80px;
}

.detail-modify > ul ul > li {
	display: flex;
	justify-content: center;
}

.detail-modify > ul > li > ul {
	top: -70%;
	left: auto;
	right: 100%;
}

.detail-modify > ul > li:hover > ul {
	display: block;
}

.detail-modify > ul > li {
	position: relative;
}

.detail-modify ul > li > a {
	display: block;
	padding: 5px 15px;
}

.detail-modify > ul > li > ul > li:hover > a {
	cursor: pointer;
	color: #DDDBCB;
	
}

.profile-detailbox img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.content-detailbox {
	width: 580px;
	margin-top: 10px;
}

.cnt-detailbox {
	display: flex;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 0.95rem
}