@charset "UTF-8";

.login-section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}

.dologin {
	width: 320px;
	display: flex;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 30px;
}

.fieldset-legend {
	font-family: Paperlogy-8ExtraBold;
	font-size: 1.2rem;
	color: #1D2F6F;
	width: 230px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.20);
	padding-top: 20px;
	padding-left: 10px;
}

.loginId {
	margin-top: 15px;
}

.login-fieldset label {
	font-size: 0.9rem;
	display: block;
	padding: 2px 2px;
	color: rgba(0, 0, 0, 0.50);
	margin-left: 10px;
}

.login-fieldset input {
	width: 230px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.40);
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	font-family: none;
	font-size: 0.8rem;
}

.dologin-box {
	text-align: center;
}

.dologin-box > button {
	background-color: #1D2F6F;
	color: white;
	font-size: 0.9rem;
	border-radius: 5px;
	width: 230px;
	height: 33.61px;
}

.dologin-box > button:hover {
	background-color: #1B9AAA;
	cursor: pointer;
}

.dosignup-box {
	margin-top: 15px;
	margin-bottom: 35px;
	display: block;
}

.dosignup-box > p {
	font-size: 0.8rem;
	margin-left: 5px;
}

.dosignup-box a{
	display: block;
	text-align: center;
	color: white;
	font-size: 0.9rem;
	border-radius: 5px;
	background-color: #1D2F6F;
	margin-bottom: 5px;
	padding: 6px 0;
}

.dosignup-box a:hover {
	background-color: #1B9AAA;
}

.signup-section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}

.signup-section > .signup-box {
	width: 360px;
	display: flex;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.20);
	border-radius: 30px;
}

.signup-section > .signup-box div {
	margin: 0 auto;
	z-index: 1;
	width: 260px;
}

.signup-section > .signup-box .signup-fieldset > .fieldset-legend {
	font-family: Paperlogy-8ExtraBold;
	font-size: 1.1rem;
	color: #1D2F6F;
	width: 260px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.20);
	padding-top: 20px;
}

.signup-section > .signup-box .signup-fieldset .name-box {
	margin-top: 15px;
}

.signup-section > .signup-box .signup-fieldset > .sex-box .sex-select {
	display: flex;
	justify-content: space-between;
	width: 260px;
	color: rgba(0, 0, 0, 0.40);
	margin-bottom: 5px;
}

.signup-section > .signup-box .signup-fieldset > .sex-box .sex-btn {
	width: 125px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.40);
	border-radius: 3px;
	cursor: pointer;
	font-size: 0.9rem;
}

.signup-section > .signup-box .signup-fieldset > .sex-box .sex-btn.active {
	background-color: #1D2F6F;
	color: white;
	border: none;
}

.signup-section > .signup-box div span {
	font-size: 0.6rem;
}

.signup-section > .signup-box .signup-fieldset label {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.50);
	margin-left: 5px;
}

.signup-section > .signup-box .signup-fieldset input {
	width: 260px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.40);
	border-radius: 5px;
	display: block;
	margin: 0 auto 5px auto;
	font-size: 0.9rem;
	font-family: none;
}

.signup-section > .signup-box .signup-fieldset .dosignup {
	text-align: center;
	margin-top: 10px;
}

.signup-section > .signup-box .signup-fieldset .dosignup > .dosignup-btn {
	background-color: #1D2F6F;
	color: white;
	font-size: 0.9rem;
	border-radius: 5px;
	width: 257.34px;
	height: 32.8px;
}

.signup-section > .signup-box .signup-fieldset .dosignup:hover .dosignup-btn {
	background-color: #1B9AAA;
	cursor: pointer;
}

.signup-section > .signup-box .signup-fieldset .login-box {
	margin: 0px auto 3px auto;
	width: 260px;
}

.signup-section > .signup-box .signup-fieldset .login-box > p {
	font-size: 0.8rem;
	margin: 7px 5px 5px 5px;
}

.signup-section > .signup-box .signup-fieldset .login-box > .login-btn {
	text-align: center;
	margin-bottom: 30px;
}

.signup-section > .signup-box .signup-fieldset .login-box > .login-btn > .dologin-btn {
	background-color: #1D2F6F;
	color: white;
	font-size: 0.9rem;
	padding: 8px 110px;
	border-radius: 5px;
}

.signup-section > .signup-box .signup-fieldset .login-box > .login-btn > .dologin-btn:hover {
	background-color: #1B9AAA;
}