@charset "UTF-8";

.select-login {
	margin-top: 150px;
	display: flex;
	justify-content: center;
}

.select-login>.select-box {
	display: flex;
	justify-content: space-between;
	width: 720px;
	height: 500px;
}

.select-login>.select-box>.member-login {
	border: 0.3px solid #A0ACAD;
	border-radius: 15px;
	width: 350px;
	box-shadow: 2px 2px 3px #A0ACAD;
}

.select-login>.select-box>.member-login>li {
	text-align: center;
	display: block;
}

.select-login>.select-box>.member-login p {
	font-size: 2rem;
	margin: 30px 0;
}

.select-login>.select-box>.member-login i {
	font-size: 13rem;
	color: #1B9AAA;
	display: block;
	padding: 50px;
}

.select-login>.select-box>.member-login a {
	font-size: 1.5rem;
	color: white;
	background-color: #1D2F6F;
	border-radius: 10px;
	padding: 10px 40px;
}

/* .select-login>.select-box>.member-login a:hover { */
/* 	background-color: #1B9AAA;; */
/* } */

.select-login>.select-box>.trainer-login {
	border: 0.3px solid #A0ACAD;
	border-radius: 15px;
	width: 350px;
	box-shadow: 2px 2px 3px #A0ACAD;
}

.select-login>.select-box>.trainer-login>li {
	text-align: center;
	display: block;
}

.select-login>.select-box>.trainer-login p {
	font-size: 2rem;
	margin: 30px 0;
}

.select-login>.select-box>.trainer-login i {
	font-size: 13rem;
	color: #1B9AAA;
	display: block;
	padding: 50px;
}

.select-login>.select-box>.trainer-login a {
	font-size: 1.5rem;
	color: white;
	background-color: #1D2F6F;
	border-radius: 10px;
	padding: 10px 40px;
}